Django>=5,<6
psycopg2-binary>=2.9.9,<3.0
python-decouple>=3.8
djangorestframework 
djangorestframework-simplejwt 
django-cors-headers

# useful extras
pillow>=10.0.0
reportlab>=4.0
openpyxl>=3.1

# production server
gunicorn>=22.0
whitenoise>=6.6
